# MongoDB Atlas Configuration
# Replace with your actual MongoDB Atlas connection string
MONGODB_ATLAS_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_NAME=financability_db

# Environment
DJANGO_ENV=development

# Django settings
SECRET_KEY=your_django_secret_key_here
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1 